@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto:wght@100;300;400;500&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Cases
        4.4 Services
        4.5 Contact
        4.6 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --paars: #5722CD;
    --blauw :#4845E4;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtpaars: #F2F0FF;
    --lichtgrijs: #F3F6F9;
    --grijs: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 1200px;
    margin: 0 20px;
}

button {
    background-color: var(--roze);
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 18px 36px;
    border: none;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.24);
}

a, a:visited {
    text-decoration: none;
    color: var(--paars);
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    color: #FFF;
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 31%, rgba(87,34,205,1) 100%);
}

/*Bonus vraag: Hoe kan ik deze driehoek ook een gradient achtergrond geven?*/

/*.schuine-achtergrond-test {*/
/*    width: 100%;*/
/*    height: 0;*/
/*    border-right: 1400px solid #5722CD;*/
/*    border-left: 50px solid transparent;*/
/*    border-bottom: 50px solid transparent;*/
/*}*/

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    width: 100%;
}

nav ul {
    display: flex;
    flex-basis: 400px;
    justify-content: space-between;
    list-style: none;
}

nav ul li a, nav ul li a:visited {
    color: #FFF;
    font-weight: 300;
}

.header-center-content-wrapper {
    text-align: center;
    padding: 50px 0;
    max-width: 700px;
    margin-bottom: 50px;
}

.header-center-content-wrapper h1 {
    margin: 20px 0;
    font-size: 36px;
}

.header-center-content-wrapper p {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 20px;
}

.header-icon {
    margin: 50px 0 0 0;
    height: 60px;
    width: 60px;
}

.header-icon img {
    height: 80px;
    width: 60px;
}

/* --------------- 4.2 Introduction ------------------- */
.section-introduction {
    text-align: center;
    padding: 70px 0 50px 0;
    line-height: 1.5;
    max-width: 700px;
}

.section-introduction h2 {
    color: var(--paars);
    font-size: 26px;
    padding-bottom: 60px;
}

.section-introduction p {
    padding-bottom: 20px;
}

/* --------------- 4.3 Cases ------------------- */

.section-cases {
    display: flex;
    flex-direction: column;
    background-color: var(--lichtgrijs);
}

.section-cases article {
    display: flex;
    margin: 60px 40px 20px 40px;
    max-width: 1200px;
}

.case-variety-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.cases-img {
    width: 100%;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.24);
}

.cases-img-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

.cases-text-wrapper {
    flex-basis: 600px;
    padding: 50px 100px 50px 20px;
}

.cases-text-wrapper-variety {
    padding-left: 80px;
}

.cases-icon-line {
    width: 40px;
    height: 8px;
    margin: 20px 0 20px 4px;
}

.cases-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 40px;
}

.cases-link a {
    font-size: 12px;
    font-weight: 500;
}

.cases-article-worth {
    padding-bottom: 100px;
}

/* --------------- 4.4 Services ------------------- */
.section-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0;
}

.section-services article {
    flex-basis: 280px;
    height: 280px;
}

.icon-services {
    height: 50px;
    width: 50px;
}

.services-article {
    border: 1px solid var(--paars);
    padding: 30px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.14);
}

.services-h {
    color: var(--paars);
    margin-bottom: 20px;
}

.services-p {
    color: var(--grijs);
    font-size: 12px;
}

/* --------------- 4.5 Contact ------------------- */
.section-contact {
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 31%, rgba(87,34,205,1) 100%);
}

.section-contact h2 {
    font-size: 32px;
}

.section-contact p {
    padding: 24px 0;
    font-weight: 300;
}

.div-contact {
    flex-basis: 700px;
    text-align: center;
    color: #FFF;
    padding: 70px 10px 50px 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    font-size: 14px;
}

form input, form textarea {
    width: 100%;
    padding: 14px 0 14px 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: none;
}

form textarea {
    min-height: 150px;
}

form ::placeholder {
    font-family: 'Roboto', sans-serif;
    color: var(--grijs);
}

.btn-contact {
    width: 100%;
}

.btn-contact button {
    padding-left: 60px;
    padding-right: 60px;
}

/* --------------- 4.6 Footer ------------------- */

footer {
    color: #FFF;
    background-color: var(--zwart);
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 12px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 767px) {
    /* Header */
    nav {
        justify-content: center;
    }

    /* Cases */
    .section-cases article {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        max-width: 1200px;
    }

    .section-cases article p {
        font-size: 18px;
    }

    .cases-img {
        width: 100%;
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.24);
    }

    .cases-img-wrapper {
        flex-basis: 400px;
        margin-top: 50px;
        flex-grow: 0;
        flex-shrink: 1;
        display: flex;
        align-items: center;
    }

    .cases-text-wrapper {
        flex-basis: 200px;
        padding: 50px 0 0 10px;
    }

    .cases-text-wrapper-variety {
        padding-left: 10px;
    }

    .cases-article-worth {
        padding-bottom: 100px;
    }

    .cases-link a{
        font-size: 14px;
    }

/*    Services */
    .section-services article {
        flex-basis: 400px;
        height: 400px;
    }

    .icon-services {
        height: 80px;
        width: 80px;
    }

    .services-h {
        font-size: 24px;
    }

    .services-p {
        font-size: 18px;
    }

/*    Contact */
    .section-contact h2 {
        font-size: 38px;
    }

    .section-contact p {
        font-size: 16px;
    }


/*    Footer */
    footer p {
        font-size: 16px;
        padding: 20px 0;
    }

}